// Bootstrap variables, maps overrides
// Breakpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1420px,
  xxl: 1538px
);

// Toasts
$toast-border-width: 0;
$carousel-transition-duration: 0.25s;

// Surcharge des couleurs Bootstrap avant son importation
// Changer la couleur des liens Bootstrap

$primary: #D23836;

$modal-padding: 0;
:root {
  --bs-modal-padding: 0; // Appliquez cette règle à l'échelle globale avant d'importer Bootstrap
}

$modal-lg: 1280px; // Utilisez cette variable pour définir la largeur
$modal-xl: 1280px; // Utilisez cette variable pour définir la largeur

$link-color: $primary;
$link-hover-color: darken($primary, 10%);

.form-check-label {
  font-size: 1rem;
}
.js-thumb {
  height: 200px;
  object-fit: cover;
  transition: .25s ease-out;
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
// Générer le style pour les boutons outline
$btn-outline-color: $primary;
$btn-outline-hover-color: white;
$btn-outline-hover-bg: $primary;
$btn-outline-hover-border: $primary;
$btn-outline-focus-shadow-rgb: red; // Ombre au focus
$btn-outline-active-color: white;
$btn-outline-active-bg: $primary;
$btn-outline-active-border: $primary;
$btn-outline-disabled-color: $primary;
$btn-outline-disabled-border: $primary;

// Pour les boutons "primary"
.btn-primary, .btn-outline-primary {
  &:hover {
      // Appliquer le fill blanc au SVG à l'intérieur du bouton
      svg {
          fill: white;
      }
  }
}

$secondary: #33aaff;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;


// Définir de nouvelles couleurs et styles pour la pagination
$pagination-color: $primary;
$pagination-bg: white;
$pagination-border-width: 1px;
$pagination-border-color: lighten($primary, 10%);
$pagination-border-radius: 8px;

$pagination-hover-color: white;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: darken($primary, 10%);

$pagination-focus-color: white;
$pagination-focus-bg: darken($primary, 5%);
$pagination-focus-box-shadow: 0 0 0 0.25rem rgba(210, 56, 54, 0.5); // Adapté à $primary

$pagination-active-color: white;
$pagination-active-bg: darken($primary, 10%);
$pagination-active-border-color: darken($primary, 15%);

$pagination-disabled-color: lighten($primary, 30%);
$pagination-disabled-bg: lighten($primary, 40%);
$pagination-disabled-border-color: lighten($primary, 35%);



// Personnalisation des liens
$link-color: $primary;
$link-hover-color: darken($primary, 10%);


#desktopMenu {
  a {
    color: rgb(25, 25, 25); // Couleur des liens
    font-weight: bold;
    position: relative; // Nécessaire pour positionner le ::after

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px; // Épaisseur de l'underline
      background-color: transparent; // Invisible par défaut
      position: absolute;
      bottom: -5px; // Distance par rapport au texte
      left: 0;
      transition: background-color 0.3s ease, transform 0.3s ease;
      transform: scaleX(0); // Cache l'underline au départ
    }

    &:hover {
      color: #D23836; // Couleur des liens au survol
    }

    &:hover::after {
      background-color: #D23836; // Couleur de l'underline
      transform: scaleX(1); // Affiche l'underline avec animation
    }

    &.active {
      color: #D23836;

      &::after {
        background-color: #D23836; // L'underline est aussi affiché pour l'élément actif
        transform: scaleX(1);
      }
    }
  }
}


#footer {

  a {
    color: rgb(25, 25, 25); // Couleur des liens

    &:hover {
      text-decoration: underline;
    }
  }
}

.page-link {
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  color: $pagination-color;
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  min-height: 45px;
  min-width: 45px;
}

.product-miniature .product-miniature__image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}