#wishlistBtn {
    background: transparent; 
    padding: 0;
}

@media (max-width: 767px) {
    #wishlistBtn {
        margin-left:15px;
    }
    
}

.monogram_wishlist i {
    color:black;
    fill:black;
    z-index:2;
}
.monogram_wishlist i {
    position: relative;
    top: -3px;
}