@font-face {
    font-family: "Nexa";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/nexa-light-webfont.woff") format("woff"),
         url("../../assets/fonts/nexa-light-webfont.ttf") format("truetype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Nexa";
    font-style: normal;
    font-weight: 700;
    src: url("../../assets/fonts/nexa-bold-webfont.woff") format("woff"),
         url("../../assets/fonts/nexa-bold-webfont.ttf") format("truetype");
    font-display: swap;
  }
  
  